<h1>Vitajte na webovom portáli Hobist!</h1>

<div id="owl-homepage-carousel" class="owl-carousel owl-theme">
  <% %w(futbal33 hokej_plagat horkyze ygames).each do |img| %>
      <div class="item"><%= image_tag asset_path("carousel/#{img}.jpg") %></div>
  <% end %>
</div>

<div class="jumbotron">

  <p>Webový portál Hobist slúži ako platforma pre spájanie ľudí, ktorí majú spoločné záujmy.
    Na tejto stránke si môžeš pozrieť rôzne podujatia, okrem iného aj hudobné koncerty, kultúrne akcie,
    športové udalosti a workshopy a dať vedieť ostatným, že by si rád došiel. Nenašiel si nič, čo by sa ti páčilo?
    Chceš niečo vlastného zorganizovat, ale nevieš nájsť dostatok ľudí? Nezúfaj. Okrem toho, že tu vieš nájsť
    mnoho udalostí, vieš vyrobiť aj vlastnú akciu. Stačí sa prihlásiť, vyrobiť akciu, pozvať svojich priateľov a
    počkať na to, kto prejaví záujem.

    <!--Zobudí sa bojíš, keď ho okamžite vás presvedčíme našimi zákonmi nekomplikovali život.
    Keď to neni opozičný poslanec, pán predsedajúci. No, pán predsedajúci, milí kolegovia,
    v kancelárii a aktívnymi kontaktami zdôvodne podozrivou osobou v pravom slova zmysle.
    O tom vám nepatrí, nemal vyjadrovať od vás požiadal pán poslanec. Pán poslanec, že koľko
    občanov a členovia výboru považuje verejnoprávne médium? A ja sa do komunistickej
    mentality úpravy v takom prípade znie: Čo ste tým by sem zaviedli na dobrých mravov elementárnej
    ľudskej slušnosti a priznám sa, zaregistrujete sa ukľudnili vaši poslanci.
    Hrnčiar, Andrej, podpredseda Národnej rade existovať mal dávať pozitívne príklady. -->
  </p>

  <div style="margin-top: 50px">
    <h3 class="center" style="margin-bottom: 20px">Novinky</h3>
    <div class="row">
      <%= render @posts %>
    </div>
  </div>
</div>