<div class="row">

  <aside class="col-md-3">
    <%= render partial: 'posts/post_filter' %>
  </aside>

  <div class="col-md-9">
    <% unless @posts.any? %>
        <h3 class="center">Vašemu hladaniu nezodpovedá žiadna udalosť</h3>
    <% end %>
    <%= will_paginate @posts %>
    <% @posts.each_with_index do |post, idx| %>
        <% if idx % 3 == 0 %>
            <div class="row">
        <% end %>
        <%= render partial: 'posts/post', locals: {post: post} %>
        <% if idx % 3 == 2 %>
            </div>
        <% end %>
    <% end %>
    <% if @posts.count % 3 != 0 %>
        </div>
    <% end %>
    <%= will_paginate @posts %>
    </div>

</div>