// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Carousel settings */
#owl-homepage-carousel .item img{
  display: block;
  width: 100%;
  height: 300px;
}