<footer class="footer-container clear-fix">
<p class="pull-left">Hobist &copy; 2016</p>
<ul class="ul-horizontal pull-right">
  <li>
    <a href="#">O nás</a>
  </li>
  <li>
    <a href="#">Kontakt</a>
  </li>
</ul>
</footer>